.contact {
    position: absolute;
    top: 20%;
    /* Adjust as needed */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    font-size: xx-large;
}

.message {
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: larger;
}

.commentbox {
    position: absolute;
    top: 80%;
    /* Adjust as needed */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    padding: 10px;

}

.line {
    width: 100%;
    padding: 40px;
    background-image: url(https://scx2.b-cdn.net/gfx/news/2020/2-space.jpg);
    color: #fff;
}