body {
    background-image: url(https://th.bing.com/th/id/OIG3.8rs8YO5x8kblayOEu7wq?w=1024&h=1024&rs=1&pid=ImgDetMain);
    background-size: cover;

}


.greeting {
    font-family: 'monospace';
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: '.3rem';
    text-align: center;
    color: aliceblue;
    padding-top: 40px;
    text-shadow: 2px 2px 4px #000080;
}



.accounthelp {
    position: absolute;
    top: 65%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    font-family: 'monospace';
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: '.3rem';
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000080;
}

.accountmessage {
    position: absolute;
    top: 80%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    padding: 50;
}