body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.flights {
    font-size: large;
    font-family: 'monospace';
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 2px 4px #000080;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 40vh;
    /* Adjust this value to raise or lower the circles */
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
    /* Center text vertically */
    background-image: url('https://th.bing.com/th/id/OIG3.pzLrh16ipnFgVHqMfWjf?pid=ImgGn');
    /* You can also use an image */
    background-size: auto;
    /* Ensure the image covers the circle */
}